{% extends "pdcrud/base.html" %}
{% block content %}
<h2>Click a thought to delete</h2>
<table align="center" border="1" width="50%">
    {% for thought in thoughts %}
    <tr>
        <td>
            <p class="text"><a href="/delete/{{ thought.id }}">{{ thought.thought }}</a></p>
        </td>
    </tr>
    {% empty %}
    <tr>
    <td colspan="4">
        <p class="text">No Thoughts as of now!</p>
    </td>
    </tr>
    {% endfor %}
</table>
<p class ="text"><a href= "/">back</a></p>
{% endblock %}
