{% extends "pdcrud/base.html" %}
{% block content %}
    <table align="center">
        <tr>
            <td>
                <h1 align="center">Python Django CRUD</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="readall">Show All Thoughts</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="create">Create</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="read">Read</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="update">Update</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="delete">Delete</a>
            </td>
        </tr>
    </table>
{% endblock %}