{% extends "pdcrud/base.html" %}
{% block content %}
<h2>Details of selected thought</h2>
<table align="center" border="1" width="50%">
	<tr>
		<th>
			<p class="text">Thought</p>
		</th>
		<th>
			<p class="text">Thought type</p>
		</th>
		<th>
			<p class="text">Author</p>
		</th>
		<th>
			<p class="text">Date</p>
		</th>
	</tr>
		<th>
			<p class="text">{{single_thought.thought}}</p>
		</th>
		<th>
			<p class="text">{{single_thought.thoughttype}}</p>
		</th>
		<th>
			<p class="text">{{single_thought.author}}</p>
		</th>
		<th>
			<p class="text">{{single_thought.date}}</p>
		</th>
	</tr>	
</table>

<p class ="text"><a href= "/select_single_thought">back</a></p>
{% endblock %}


