{% extends "pdcrud/base.html" %}
{% block content %}
<h2>Thoughts</h2>
<table align="center" border="1" width="50%">
    <tr>
        <th>
            <p class="text">Thought</p>
        </th>
        <th>
            <p class="text">Thought Type</p>
        </th>
        <th>
            <p class="text">Author</p>
        </th>
        <th>
            <p class="text">Date</p>
        </th>
        <th colspan="2">
            <p class="text">Actions</p>
        </th>
    </tr>
    {% for thought in thoughts %}
    <tr>
        <td>
            <p class="text">{{ thought.thought }}</p>
        </td>
        <td>
            <p class="text">{{ thought.thoughttype }}</p>
        </td>
        <td>
            <p class="text">{{ thought.author }}</p>
        </td>
        <td>
            <p class="text">{{ thought.date }}</p>
        </td>
        <td>
            <p class="text"><a href="/update/{{ thought.id }}">Update</a></p>
        </td>
        <td>
            <p class="text"><a href="/delete/{{ thought.id }}">Delete</a></p>
        </td>
    </tr>
    {% empty %}
    <tr>
    <td colspan="4">
        <p class="text">No Thoughts as of now!</p>
    </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}